.project {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  width: 80%;
  background: rgb(236, 236, 236);
  margin: 1rem auto;
  border-radius: 10px;
}

.project img {
  width: 50vw;
  height: 30%;
  margin: 1rem auto;
  border-radius: 10px;
}

.project__content h2 {
  margin: 0;
}

.project__content h3 {
  margin: 0;
  font-weight: normal;
}

.project__content h4 {
  margin: 0;
  font-weight: normal;
}

.project__info {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.project__block {
  margin-right: 1rem;
}

.project__block h3 {
  font-weight: bold;
}

.project__buttons {
  margin: 2rem 0;
}

.project__buttons a {
  text-decoration: none;
  padding: 1rem;
  margin-right: 1rem;
  background: black;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.project__buttons a:hover {
  color: black;
  background: transparent;
}

@media (max-width: 768px) {
  .project img {
    width: 70vw;
    height: 30%;
  }
}
